.header-list{
    position:absolute;
    left:1000px;
    top:10px;
}
.header-list a{
    color: #fff;
    font-family: serif;
}
.line {
    border: 1px solid rgb(255, 255, 255);
    top: 200px;
}
