.post-new-recipe{
    color: #fff;
    font-size: 50px;
    font-family: Serif;
}
.tate{
    border-left: 1px solid white;
    padding:2px 8px;
    height: 895px;
    margin-left: 40%;
    margin-top: -200px;
}
.tatete{
    border-left: 1px solid white;
    padding:2px 8px;
    height: 895px;
    margin-left: 77%;
    margin-top: -900px;
}