// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    background-color: #822424;
}

.my-page{
    color: #fff;
    font-size: 50px;
    font-family: Serif;
}
.name1{
    color: #fff;
}
.name2{
    color: #fff;
}
.emailaddress1{
    color: #fff;
}
.emailaddress2{
    color: #fff;
}
.profile1{
    color: #fff;
}
.profile2{
    color: #fff;
}